**/target/
**/build/

**/.idea/
**/*.iml

**/.project
**/.classpath
**/.settings/

**/.mvn/
**/target/

**/.gradle/
**/build/

**/.DS_Store

**/Thumbs.db
**/ehthumbs.db

**/.vscode/
*.swp

*.log

*.bak
*.tmp
*.swp